*{
    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body{
    height: 100%;
    background: rgb(12,20,27);
    background: #04080b;
    color: #ffffff;
}
div{
    font-size: 1.25rem;
    text-align: center;
}
.banner{
    background:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./banner.png');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
}
h1, .banner h2 {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-align: center;
}
.banner h1 {
    font-size: 4rem;
}
.banner h2{
    font-size: 1.75rem;
}
h1{
    font-size: 3rem;
}
.navbar ul{ 
    display: grid;
    grid-template-columns: 1fr 1fr auto 1fr 1fr;
    align-items: center;
    box-sizing: border-box;
    font-size: 1.5rem;
    gap: 30px;
    list-style-type: none;
    cursor: pointer;
}
.nav-text:hover{
    border-bottom: 3px solid #7b2cbf;
}
.navbar li{
    justify-self: center;
}
a, a:visited, a:hover, a:focus, a:active  { 
    text-decoration: none; 
    color: #ffffff;
}
.navbar {
    position: fixed;
    width: 100%;
    padding: 10px;
    height: 13vh;
    background-color: black;
    color: white;
    box-sizing: border-box;
    z-index: 10;
}
.navbar img{
    max-height: 10vh;
}
#about-us {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}
#about-us img{
    width: 100%;
    border-radius: 0 0 50px 0;
}
#about-us div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #181818;
    border-radius: 0 0 0 50px;
    padding: 0 30px 0 30px;
}

#perks img{
    width: 20vw;
}
#perks div{
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-left: 5vw;
    width: 100%;
    align-items: center;
}
#perks{
    padding: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#perks button{
    font-size: 2rem;
    width: 25vw;
    margin: 10px;
}
footer img{
    width: 10vw;
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5vw;
    background-color: #181818;
    font-size: 1.5rem;
    border-radius: 50px 50px 0 0;
}
footer ul{
    list-style-type: none;
}
footer h2 {
    font-weight: 500;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
button {
    all: unset;
    margin: 10px;
    background-color: #7b2cbf;
    border-radius: 30px;
    padding: 10px;
}
  
button:focus, button:hover{
    outline: revert;
    background-color: #dc2f02;
}
